@red-bg: #F44336;
@red-fg: #FFF;

@pink-bg: #E91E63;
@pink-fg: #FFF;

@purple-bg: #9C27B0;
@purple-fg: #FFF;

@deep-purple-bg: #673AB7;
@deep-purple-fg: #FFF;

@indigo-bg: #3F51B5;
@indigo-fg: #FFF;

@blue-bg: #2196F3;
@blue-fg: #FFF;

@light-blue-bg: #03A9F4;
@light-blue-fg: #FFF;

@cyan-bg: #00BCD4;
@cyan-fg: #FFF;

@teal-bg: #009688;
@teal-fg: #FFF;

@green-bg: #4CAF50;
@green-fg: #FFF;

@light-green-bg: #8BC34A;
@light-green-fg: #FFF;

@lime-bg: #CDDC39;
@lime-fg: #FFF;

@yellow-bg: #FFEB3B;
@yellow-fg: #FFF;

@amber-bg: #FFC107;
@amber-fg: #FFF;

@orange-bg: #FF9800;
@orange-fg: #FFF;

@deep-orange-bg: #FF5722;
@deep-orange-fg: #FFF;

@brown-bg: #795548;
@brown-fg: #FFF;

@grey-bg: #9E9E9E;
@grey-fg: #FFF;

@blue-grey-bg: #607D8B;
@blue-grey-fg: #FFF;

@black-bg: #333333;
@black-fg: #FFF;

@white-bg: #FFFFFF;
@white-fg: #444;


// @black-bg: #000;
// @black-fg: #000;

// @red-bg: #000;
// @red-fg: #000;

// @green-bg: #000;
// @green-fg: #000;

// @yellow-bg: #000;
// @yellow-fg: #000;

// @blue-bg: #000;
// @blue-fg: #000;

// @magenta-bg: #000;
// @magenta-fg: #000;

// @cyan-bg: #000;
// @cyan-fg: #000;

// @white-bg: #000;
// @white-fg: #000;

